.calculator{
  width: 300px;
  min-height: 150px;
  border: 3px solid grey;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: '고딕';
}

.row{
  margin: 10px 0;
}

.btn-row{
  display: flex;
  
}

.btn-row > button{
  height: 30px;
  margin: 0 5px;
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: 1px solid white;
}

#calcResult{
  color: red;
}

.btn2 > button{
  font-size: 10px;
  letter-spacing: -1px; /* 자간 설정 */
  background-color: black;
  color: white;
  border: 1px solid white;
}
#calcResult2{
  color: white;

}
